.product {
    border: 1px solid #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-sizing: border-box; */
    max-width: 18%;
    flex: 25%;
    margin: 10px;
}

@media (max-width: 900px) {
    .product {
        max-width: 30%;
    }
}

.product__image {
    max-height: 100%;
    max-width: 100%;
}

.product__name {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #434343;
    font-weight: 400;
    margin-bottom: 30px;
    width: 90%;
    align-self: center;
}